<div class="container">
    <fieldset>
        <legend>LOGIN</legend>
    <div class="box">
        <form action="" class="form">
            <div class="conteudo">
                <div class="meu-box">
                    <input type="email" name="email" id="email" class="input-nome" placeholder="example@email.com">
                    <i class="fa-solid fa-at"></i>
                    <label for="email" class="label-nome">E-mail</label>
                </div>
            </div>
            <div class="conteudo margin">
                <div class="meu-box">
                    <input type="password" name="password" id="password" class="input-nome" placeholder="Digite sua senha">
                    <i class="fa-solid fa-eye"></i>
                    <i class="fa-solid fa-eye-slash"></i>
                    <label for="password" class="label-nome">Digite sua senha</label>
                </div>
            </div>
            <div class="group btn">
                <button type="submit">ENTRAR</button>
            </div>
        </form>
    </div>
</fieldset>
</div>