.container {
    width: 100vw;
    height: 100vh;
    background-color: #188b7f;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    .box {
        width: 40%;
        height: 50%;
        border-radius: 0.5rem;
        background-color: #dbc74d;

        // label {
        //     display: flex;
        //     flex-direction: column;
        //     justify-content: center;
        //     align-items: center;
        // }
        form {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            margin-top: 7rem;

            .group {
                display: flex;
                flex-direction: column;
                margin-top: 1rem;
            }

            input {
                border-radius: 3px;
                width: 17rem;
                height: 22px;
                font-size: 16px;
            }
            button {
                border-radius: 15px;                
                cursor: pointer;
                width: 5rem;
                border: 3px solid;
                color: purple;
                height: 2rem;
                background-color: white;
            }
            button:hover {
                background-color: rgba(128, 0, 128, 0.719);
                color: white;
               
            }
        
            
        }
    }
}