<div class="container">
    <div class="box">
        <form action="" class="form">
            <div class="group">
                <label for="">Login</label>
                <input placeholder="Example@email.com" type="email" required>
            </div>
            <div class="group">
                <label for="">Senha</label>
                <input type="text" required>
            </div>
            <div class="group btn">
                <button type="submit">ENTRAR</button>
            </div>
        </form>
    </div>
</div>