<div class="container">
    <main class="main">
        <section class="galery">
            <div class="fotos">
                <img src="./assets/img/welcome.png" alt="Foto 1">
                <img src="./assets/img/Banner.png" alt="Foto 2">
                <img src="./assets/img/Banner.png" alt="Foto 3">
                <img src="./assets/img/Banner.png" alt="Foto 4">
                <img src="./assets/img/Banner.png" alt="Foto 5">
                <img src="./assets/img/Banner.png" alt="Foto 6">
            </div>
        </section>
    </main>
</div>
